# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/
.env/

# Flask specific
instance/
.pytest_cache/
.mypy_cache/
.coverage
*.egg-info/
*.egg
dist/
build/

# Jupyter Notebook
*.ipynb_checkpoints

# Other files to ignore
*.log
.DS_Store


